@model MijnMaaltijd.Models.Recipe

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Recipe</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Publication)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Publication)
            @Html.ValidationMessageFor(model => model.Publication)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SeasonID, "Season")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SeasonID", String.Empty)
            @Html.ValidationMessageFor(model => model.SeasonID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TypeID, "Type")
        </div>
        <div class="editor-field">
            @Html.DropDownList("TypeID", String.Empty)
            @Html.ValidationMessageFor(model => model.TypeID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsMeat)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsMeat)
            @Html.ValidationMessageFor(model => model.IsMeat)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsFish)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsFish)
            @Html.ValidationMessageFor(model => model.IsFish)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsVegetarian)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsVegetarian)
            @Html.ValidationMessageFor(model => model.IsVegetarian)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsVegan)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsVegan)
            @Html.ValidationMessageFor(model => model.IsVegan)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsGlutenFree)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsGlutenFree)
            @Html.ValidationMessageFor(model => model.IsGlutenFree)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsVeganAdaptable)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsVeganAdaptable)
            @Html.ValidationMessageFor(model => model.IsVeganAdaptable)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsGlutenFreeAdaptable)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsGlutenFreeAdaptable)
            @Html.ValidationMessageFor(model => model.IsGlutenFreeAdaptable)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VeganAdaptation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VeganAdaptation)
            @Html.ValidationMessageFor(model => model.VeganAdaptation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GlutenFreeAdaptation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GlutenFreeAdaptation)
            @Html.ValidationMessageFor(model => model.GlutenFreeAdaptation)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
