@using MijnMaaltijd.Models
@using MijnMaaltijd.Locales
@model IEnumerable<Recipe>

<table>
  <tr>
    <th>
      @(RecipeListLocales.Name)
    </th>
    <th>
      @(RecipeListLocales.SeasonID)
    </th>
    <th>
      @(RecipeListLocales.TypeID)
    </th>
    <th>
      @(RecipeListLocales.IsMeat)
    </th>
    <th>
      @(RecipeListLocales.IsFish)
    </th>
    <th>
      @(RecipeListLocales.IsVegetarian)
    </th>
    <th>
      @(RecipeListLocales.IsVegan)
    </th>
    <th>
      @(RecipeListLocales.IsGlutenFree)
    </th>
    <th>
      @(RecipeListLocales.IsVeganAdaptable)
    </th>
    <th>
      @(RecipeListLocales.IsGlutenFreeAdaptable)
    </th>
    <th></th>
  </tr>

  @foreach (var item in Model)
  {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.Name)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Season.Name)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Type.Name)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.IsMeat)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.IsFish)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.IsVegetarian)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.IsVegan)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.IsGlutenFree)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.IsVeganAdaptable)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.IsGlutenFreeAdaptable)
      </td>
      <td>
        @Html.ActionLink("Details", ButtonLocales.Details, new { id = item.ID })
      </td>
    </tr>
  }

</table>
